<div id="header">
	<div id="header-con">
		<div id="logo">
		<a href="\">
			<img src="img/logo.png">
		</a>
		</div>
				
		<div id="links">
			<ul>
				<li id="sign-in"></li>
				<li id="cart">
					<div id="indicator"></div><a id="cart_title" href="#" style="text-decoration:none;">Cart</a><div id="counter"><p>0</p></div></li>
				<li id="exp">
					<ul id="expnd"></ul>
				</li>
			</ul>
		</div>
	</div>
</div>