<div id="item_container">
	<div id="item_img">
		<div id="item_count">
			<p>10</p>
		</div>
	</div>
	<div id="item_title">
		<h3>Title</h3>
	</div>
	<div id="item_desc_container">
		<div id="item_desc">
			<p>Description</p>
		</div>
		<div id="item_cost">
			<p>Cost: $</p>
		</div>
	</div>
</div>