<h3>Order</h3>
<p>All orders are on the bartering system, and final</p>
<form id ="order_form">
	<input type="text" id="fname" name="fname" placeholder="name for order..." pattern="[a-zA-z]{1,25}" title="Name must be ALL letters and less than 25 letters" required>
	<hr>
	<input type="text" id="zip" name="zip" placeholder="shipping zipcode..." maxlength="5" pattern="[0-9]{5}" title="5 digit zipcode" required>
	<hr>
	<input id="sumbit" type="submit" value="Place Order">
</form>