<div id="shipping_container">
	<div id="shipping_title">
		<h4>Type</h4>
	</div>
	<div id="shipping_img">
		<div id="left_arrow">
		</div>
		<div id="right_arrow">
		</div>
	</div>
	<div id="shipping_cost">
		<p>+ cost</p>
	</div>
</div>