<div id="contents">
	<div id="feature">
		<img src="../img/home.png" >
	</div>
</div>

<div id="operation-time">
	<div id="op-day">
		<!-- USE JAVASCRIPT to cycle day of week gifs, and hours -->
		<div id="op-time">
			<p id="open">OPEN</p>
			<p id="toast-hours">24 hours</p>
			<p style=" color: orangered; margin: 0px; padding: 0px 2%; text-align: right;">
				AM<span style="display:inline;color:white;font-weight:bold;"> / </span>PM
			</p>
		</div>
	</div>
</div>

<div id="box">
		<a href="/menu">
		<div id="box-left">
			<p>ORDER</p>
		</div>
	</a>

	<div id="box-mid">
		<p>Under Construction</p>
	</div>

	<div id="box-right">
		<p>Under Construction</p>
	</div>

	<div id="box-extra">
		<p>Under Construction</p>
	</div>
</div>