<div id="vegetarian">
	<div id="veg-con">
		<div id="veg-title">
			<h3>INSECTIVORE</h3>
		</div>
	</div>
	<div id="veg-con-dis">
		<button class="button" id="insc">ADD</button>
		<p>
			These guys are bigger than Ralph's Hands!</br></br>
			Like chicken, but with more legs
		</p>
	</div>
</div>

<div id="carnivore">
	<div id="carn-con">
		<div id="carn-title">
			<h3>CARNIVORE</h3>
		</div>
	</div>
	<div id="carn-con-dis">
		<button class="button" id="carn">ADD</button>
		<p>
			Ever chased an Iguana behind a 4x4 only for it to get away?</br></br>
			NOT ANYMORE
		</p>
	</div>
</div>

<div id="pescivore">
	<div id="pesc-con">
		<div id="pesc-title">
			<h3>PESCIVORE</h3>
		</div>
	</div>
	<div id="pesc-con-dis">
		<button class="button" id="pesc">ADD</button>
		<p>
			Lowtide Rendezvous</br></br>
			Briny, slimey, and deliciously nutritious
		</p>
	</div>
</div>
<div id="black_out"></div>






