<div id="receipt_container">
	<div id="order_message">
		<h3>ORDER PLACED!</h3>
	</div>
	<div id ="order_icon">
		
	</div>
	<h4 id="order_id">Raccoon City</h4>
	<p id ="order_date">order_date</p>
	<p id ="order_total_items">Total Items: 10</p>

	<div id="receipt_title">
		<p id="qty_title">QTY</p>
		<p id="itm_title">ITEM</p>
		<p id="price_title">PRICE</p>
	</div>
	<div id="receipt_items">
		<p id="qty">0</p>
		<p id="item">item name</p>
		<p id="price">$0.00</p>
	</div>
	<p id="delivery_title">DELIVERY</p>
	<div id="delivery_items">
		<p id="delivery_type">delivery type</p>
		<p id="delivery_cost">$0.00</p>
	</div>
	<div id="total_container">
		<div id="sum">
			<h5>TOTAL</h5>
			<p id="total">$0.00</p>
		</div>
	</div>
	
	
</div>

